.btn-mobile {
    display: none;

    @media (max-width:991px) {
        margin-left: -5px;
        display: inline-block;
        padding: 3px 12px;
        text-align: center;
        background: #005FBF;
        border: 1px solid #fff;
        border-radius: 6px;
        color: #f8f8f8;
        font-size: 12px;
        font-weight: bold;
        line-height: 20px;
    }
}

@media (max-width: 991px) {
    .navbar-brand {
        img {
            margin-left: -14px;
        }
    }
}

@media (max-width: 991px) {
    .btn-pc {
        display: none;
    }
}

.row {
    .dropdown-item {
        border-bottom: 1px solid rgb(209, 209, 209);
    }
}

.dropdown-menu {
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-link {
    border-bottom: 2px solid white;
}

.nav-link:hover {
    border-bottom: 2px solid #1c735a;
}

.feature-menu {
    margin-top: -13px;
    width: 70%;
    margin-left: 17em;

    @media (max-width: 1440px) {
        margin-top: 3px;
        width: 100%;
        margin-left: 0;
    }
}

.line {
    border-left: 1px solid rgba(0, 0, 0, .24);
    height: 35px;
    margin: 0 5px;

    @media (max-width:768px) {
        display: none;
    }
}

.flag:hover {
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}