.img-menu {
  img {
    height: 27em;
    display: block;
    margin: 0 auto;

    @media (max-width:991px) {
      height: 10em;
    }
  }
}

h2 {
  color: #000;
  font-size: 26px;
  text-align: center;
  // text-transform: uppercase;
  position: relative;
  margin: 30px 0 70px;
}

h2::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 4px;
  border-radius: 1px;
  background: #1c735a;
  left: 0;
  right: 0;
  bottom: -20px;
}

ul {
  list-style-type: none;
  margin-left: 1em;
  padding-left: 0;
}

ul>li {
  position: relative;
}

.icon-xs {
  left: -3em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit;
}

/* NOT RELEVANT TO THE FUNCTION */
ul {
  max-width: 500px;
  margin: 25px auto 0 auto;
}

li {
  margin-bottom: 10px;
  margin-left: 2.5em;
}